.article-page {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  height: 100%;
}

.article-section {
  padding: 3em 3em;
  margin-top: 2em;
  height: fit-content;
  -moz-box-shadow: 0 0 5px #ddd;
  -webkit-box-shadow: 0 0 5px #ddd;
  box-shadow: 0 0 5px #ddd;
}

.side-bar {
  display: flex;
  height: 100%;
  padding: 2.5em;
}

.sb-left {
  justify-content: flex-end;
}

.sb-right {
  justify-content: flex-start;
}

@media only screen and (max-width: 1200px) {
  .article-page {
    grid-template-columns: 1.5fr 1fr;
  }

  .article-section {
    margin-left: 3em;
  }

  .sb-left {
    display: none;
  }
}

@media only screen and (max-width: 860px) {
  .article-page {
    grid-template-columns: 1fr;
  }

  .article-section {
    max-width: 562px;
  }

  .sb-left {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .article-section {
    margin-left: 0em;
    margin-top: 0em;
  }
}
