.ad-side-banner {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 200px;
  background-color: rgba(0, 0, 244, 0.1);
  /* margin: 2em 2.5em; */
}

/* SET MEDIA BREAK TO 994+ VERIFY */
@media only screen and (max-width: 860px) {
  .article-page {
    grid-template-columns: 1fr;
    height: 300px;
    width: 100vw;
  }

  .ad-side-banner {
    height: 250px;
    width: 100%;
    min-width: 100%;
  }

  .sb-left {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .article-section {
    margin-left: 0em;
    margin-top: 0em;
    padding: 1.5em;
  }

  .side-bar {
    /* width: 100%; */
    padding: 1.5em;
  }
}

@media only screen and (max-width: 1010px) {
  .ad-side-banner {
    display: none;
  }
}
