.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 1.2em;
  color: white;
  background: rgb(33, 37, 41);
  background: linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(60, 60, 71, 1) 100%
  );
}
