.next-page-button {
  width: 100%;
  font-size: 2.2em;
  font-weight: 500;
  color: white;
  padding: 0.2em;
  border-radius: 5px;
  background: linear-gradient(
    179deg,
    rgba(255, 196, 2, 1) 9.6%,
    rgba(243, 207, 27, 1) 50.1%
  );
}
